<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="@{${userId} + ' into  chat'}">chat</title>
    <link rel="stylesheet" href="/css/chat.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
<div class="all">
    <div class="chat_index">
        <!--banner-->
        <div class="chat_banner">
            <span id="sendToObject" style="color: white"></span>
        </div>

        <div class="chat_body">
            <!--在线列表-->
            <div class="chat_online">
                <div class="online_friend">
                    <ul>
                    </ul>
                </div>

            </div>
            <!--聊天界面-->
            <div class="chat_main">
                <div class="chat_div">
                    <ul id="chat_ul" class="chat_content">

                    </ul>

                </div>

                <div class="send_message">
                    <form>
                        <input type="text" placeholder="请输入消息" id="send_txt">
                        <input type="button" value="发送" id="send_btn" data-to="all">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<script th:inline="javascript">
    var websocket = null;
    var userId = [[${userId}]];
    var wsUrl = "ws://127.0.0.1:"+[[${port}]]+"/ws/"+userId;

    //判断当前浏览器是否支持WebSocket
    if('WebSocket' in window){
        websocket = new WebSocket(wsUrl);
    }
    else{
        alert('Not support websocket')
    }

    //连接发生错误的回调方法
    websocket.onerror = function(){
        setMessageInnerHTML("error");
    };

    //连接成功建立的回调方法
    websocket.onopen = function(event){
        $("#sendToObject").innerHTML = "欢迎欢迎！";
    }

    //接收到消息的回调方法
    websocket.onmessage = function(event){
        console.log(event.data);
        setMessageInnerHTML(event.data);
    }

    //连接关闭的回调方法
    websocket.onclose = function(){
        setMessageInnerHTML("连接已经断开！！！");
    }

    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function(){
        websocket.close();
    }

    //将消息显示在网页上
    function setMessageInnerHTML(data){
        var online =data.split(":");
        if (online && online[1] == "online" && online[0] != userId){
            $("#"+online[0]).remove();
            var onlineHTML = "<li id='"+online[0]+"'>\n" +
                "                            <div class=\"a_friend\">\n" +
                "                                <div class=\"friend\">\n" +
                "                                    <div class=\"name\">"+online[0]+"</div>\n" +
                "                                    <div class=\"this_time\">4-12-15:10</div>\n" +
                "                                </div>\n" +
                "                            </div>\n" +
                "                        </li>";
            $(".online_friend ul").append(onlineHTML);
            if (online.length != 3){
                var rep = userId + ":online:1";
                websocket.send(rep);
            }
        }
        document.getElementById('chat_ul').innerHTML += data;
    }

    //关闭连接
    function closeWebSocket(){
        websocket.close();
    }

    $("#send_btn").click(function () {
        alert('sdfdsf');
    });
    //发送消息
    function send(){
        var messageModel = {};
        messageModel.to = "crazy";
        messageModel.date = new Date().getTime();
        messageModel.content = document.getElementById('text').value;;
        messageModel.from = "baby";
        websocket.send(JSON.stringify(messageModel));
    }
</script>
</body>
</html>